[user]
	name = Dmitry Andreevich
	email = dmand@yandex.ru
[core]
	editor = nano
[color]
        ui = true
[cola]
	fontdiff = Ubuntu Mono,11,-1,5,50,0,0,0,0,0
[gui]
	editor = nano
	historybrowser = qgit
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
	hist = log --graph --full-history --all --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
	type = cat-file -t
	dump = cat-file -p
